/* Login
============================================================================================ */

h1,
{
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white; 
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #000000; 
}   
.login-group{
    position: absolute;
    overflow: visible;
    top: 159px;
    left: 636px;
    width: 150px;
    height: 36px;]
    background: #B9B9B9 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 0.2;
}

/*ok*/

  .f-login{

  }

    .form-control {
        font-size: 16px;
    }

    /*ok*/

    .form-control:focus {
        border-color: #5cb85c;
    }

    .form-control, .btn {
        border-radius: 50px;
        outline: none !important;
    }

    .login-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .login-form form {
        position: absolute;
        overflow: visible;
        top: 190px;
        border-radius: 15px;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 3px 20px #00000033;
        padding: 40px 50px;
        width: 463px;
        left: 323px;
    }
    .login-form .btn {        
        font-size: 18px;
    line-height: 26px;
        font-weight: bold;
    text-align: center;
    }
    .social-btn .btn {
    color: #fff;
        margin: 10px 0;
    font-size: 15px;
    border-radius: 50px;
    text-indent: 10px;
    font-weight: normal;
    border: none;
    text-align: center;   
    }
  .social-btn .btn:hover {
    opacity: 0.9;
  }
    .social-btn .btn-primary {
    background: #507cc0;
  }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
  .social-btn .btn i {
    margin-right: 9px;
    font-size: 20px;
    min-width: 25px;
    position: relative;
    top: 2px;
  }
    .or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
        border: 1px solid #e0e0e0;
    border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }
    .login-form a {
    color: #5cb85c;
  }

  /* tooggle */
  /* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

/*body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
}
*/
h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.m-span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 768px;
    height: 700px
    max-width: 100%;
    min-height: 480px;
    top: 150px;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.l-btn-login {
    border-radius: 20px;
    border: 1px solid #800000;
    background: #800000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.l-btn-login:active {
    transform: scale(.95);
}

.l-btn-login:focus {
    outline: none;
}

.l-btn-login.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #800000, #ff416c) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0%);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

.footer {
  margin-top: 25px;
  text-align: center;
}

/*ok*/
.icons {
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  align-items: center;
}